@import "tailwindcss";

/* In your global CSS */

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#__next {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

@media screen and (max-device-width: 767px) {
  .force-column {
    flex-direction: column !important;
    align-items: center !important;
    text-align: center !important;
  }
}

.swiper-button-next,
.swiper-button-prev {
  color: gray !important;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  opacity: 0.8;
}

@media (max-width: 640px) {
  .swiper-button-next,
  .swiper-button-prev {
    display: none !important;
  }
}

.image-blur {
  filter: blur(20px);
  transition: filter 0.3s ease-out;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  scrollbar-width: none;
}
